<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sozora.google-translate</string>
	<key>connections</key>
	<dict>
		<key>2B71711D-2916-4E3F-B599-82981C29346A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4969AD8B-74F4-4DB5-A806-2A4C25FDACD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CB4B5F5-5654-46AC-99F4-DCDC92F7ED98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C3CC9ED-7318-4492-8BF2-F2032F13F2E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4969AD8B-74F4-4DB5-A806-2A4C25FDACD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B45F3CA-6761-4418-B127-39F0012863D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C3CC9ED-7318-4492-8BF2-F2032F13F2E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC71A1BD-4BF6-4079-85B3-8431BD1CE7E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B45F3CA-6761-4418-B127-39F0012863D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B45F3CA-6761-4418-B127-39F0012863D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2EB3014-588C-4717-82DA-BEA701208985</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Translate a word or esntence using Google Translate.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Google Translate API key was saved to Mac OS Keychain.</string>
				<key>title</key>
				<string>API key saved.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BC71A1BD-4BF6-4079-85B3-8431BD1CE7E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python google_translate.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C3CC9ED-7318-4492-8BF2-F2032F13F2E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tr-setkey</string>
				<key>subtext</key>
				<string>Set your Google Translate API key and hit Enter.</string>
				<key>text</key>
				<string>Google Translate - set your API key.</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CB4B5F5-5654-46AC-99F4-DCDC92F7ED98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>translating...</string>
				<key>script</key>
				<string>/usr/bin/env python google_translate.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Translate a word or phrase using Google Translate.</string>
				<key>title</key>
				<string>Google Translate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9B45F3CA-6761-4418-B127-39F0012863D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F2EB3014-588C-4717-82DA-BEA701208985</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/env python set_language.py --setlang "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4969AD8B-74F4-4DB5-A806-2A4C25FDACD8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tr-setlang</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/env python set_language.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set target (translate to) language and hit Enter.</string>
				<key>title</key>
				<string>Google Translate - set target language.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B71711D-2916-4E3F-B599-82981C29346A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Translate from/to your favourite language using Google Translate.


To set up, you will need your own Google API key. Instructions how to get one are here: https://cloud.google.com/translate/docs/getting-started#set_up_your_project

The workflow will prompt you the first you run it to enter your API key. Should you need to re-enter it, run "tr-setkey".

To set a target language (one you will translate to), run "tr-setlang". You won't need to set a source (from) language, as Google is pretty good at guessing.

* Simple - setup once and just use it.
* Secure - keys are stored in Mac's native Keychain tool.
* Fast - all queries are cached for speed.

Have fun!</string>
	<key>uidata</key>
	<dict>
		<key>2B71711D-2916-4E3F-B599-82981C29346A</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>2CB4B5F5-5654-46AC-99F4-DCDC92F7ED98</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>4969AD8B-74F4-4DB5-A806-2A4C25FDACD8</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>4C3CC9ED-7318-4492-8BF2-F2032F13F2E1</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>9B45F3CA-6761-4418-B127-39F0012863D6</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>BC71A1BD-4BF6-4079-85B3-8431BD1CE7E0</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F2EB3014-588C-4717-82DA-BEA701208985</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>lang</key>
		<string>Español</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
